@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    @variants hover, focus {
        .filter-none {
          filter: none;
        }
        .filter-grayscale {
          filter: grayscale(100%);
        }
    }

    #banner {
        height: 100vh;
    }

    ::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 5px;
    }

    ::-webkit-scrollbar
    {
        width: 5px;
        background-color: rgba(243, 243, 243, 1.0);
    }

    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: rgba(138, 134, 136, 0.9);
    }

    #header {
        /* 
        background: linear-gradient(-45deg, #161f6d, #00abe1, #23a6d5);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        */
        background-image: linear-gradient(135deg, #019cf6, #01dae7);
    }

    .link {
        cursor: pointer;
        position: relative;
        white-space: nowrap;
    }
    
    .link::before,
    .link::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        pointer-events: none;
    }
    
    .link::before {
        content: '';
        /* show by default */
    }
    
    .link--dia::before,
    .link--dia::after {
        opacity: 0;
        transform-origin: 50% 0%;
        transform: translate3d(0, 3px, 0);
        transition-property: transform, opacity;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
    }
    
    .link--dia:hover::before,
    .link--dia:hover::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
    }
    
    .link--dia::after {
        content: '';
        top: calc(100% + 4px);
        width: 70%;
        left: 15%;
    }
    
    .link--dia::before,
    .link--dia:hover::after {
        transition-delay: 0.1s;
    }
    
    .link--dia:hover::before {
        transition-delay: 0s;
    }

    .link--leda {
        overflow: hidden;
    }
    
    .link--leda::before {
        top: calc(100% - 5px);
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    
    .link--leda:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
    }
    
    .link--leda::after {
        content: attr(data-text);
        height: 100%;
        top: 0;
        background: none;
        transform-origin: 100% 50%;
        transform: translate3d(150%, 0, 0);
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    
    .link--leda:hover::after {
        transform: translate3d(0, 0, 0);
    }
    
    .link--leda span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    
    .link--leda:hover span {
        transform: translate3d(-150%, 0, 0);
    }

    .button {
        pointer-events: auto;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }
    
    .button::before,
    .button::after {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .button--atlas > span {
        display: inline-block;
    }
    
    .button--atlas:hover > span {
        opacity: 0;
    }
    
    .marquee {
        position: absolute;
        top: 0;
        left: 4px;
        right: 4px;
        overflow: hidden;
        pointer-events: none;
    }
    
    .marquee__inner {
        width: fit-content;
        display: flex;
        position: relative;
        --offset: 1rem;
        --move-initial: calc(-25% + var(--offset));
        --move-final: calc(-50% + var(--offset));
        transform: translate3d(var(--move-initial), 0, 0);
        animation: marquee 2s linear infinite;
        animation-play-state: paused;
        opacity: 0;
    }
    
    .button--atlas:hover .marquee__inner {
        animation-play-state: running;
        opacity: 1;
        transition-duration: 0.4s;
    }
    
    .marquee span {
        text-align: center;
        white-space: nowrap;
        padding: 1rem 0.5rem;
    }
    
    @keyframes marquee {
        0% {
            transform: translate3d(var(--move-initial), 0, 0);
        }
    
        100% {
            transform: translate3d(var(--move-final), 0, 0);
        }
    }

    
    #bannerbg {
        display: none;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    :root {
        --d: 700ms;
        --e: cubic-bezier(0.19, 1, 0.22, 1);
    }

    @media (min-width: 600px) {
        .card {
            height: 200px;
        }
    }

    .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 0 0;
        transition: transform calc(var(--d) * 1.5) var(--e);
        pointer-events: none;
    }

    .card:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        transform: translateY(-50%);
        transition: transform calc(var(--d) * 2) var(--e);
    }

    .card:hover img {
        filter: none;
    }

    .content {
        transition: transform var(--d) var(--e);
    }

    @media (hover: hover) and (min-width: 600px) {
        .card:after {
            transform: translateY(0);
        }

        .content {
            transform: translateY(calc(100% - 4.5rem));
        }
        .content > *:not(.title) {
            opacity: 0;
            transform: translateY(1rem);
            transition: transform var(--d) var(--e), opacity var(--d) var(--e);
        }

        .card:hover,
        .card:focus-within {
            align-items: center;
        }
        .card:hover:before,
        .card:focus-within:before {
            transform: translateY(-4%);
        }
        .card:hover:after,
        .card:focus-within:after {
            transform: translateY(-50%);
        }
        .card:hover .content,
        .card:focus-within .content {
            transform: translateY(0);
        }
        .card:hover .content > *:not(.title),
        .card:focus-within .content > *:not(.title) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: calc(var(--d) / 8);
        }

        .card:focus-within:before, .card:focus-within:after,
        .card:focus-within .content,
        .card:focus-within .content > *:not(.title) {
            transition-duration: 0s;
        }
    }

}